%h3.left Change Default Credits
.right=url_button 'Finished updating', enrollments_path(@contract), :small => true
.default_credits.clear
  = render :partial => 'credit/credits', :object => @contract, :local => {:editable => true}
