.svn
.DS_Store
log/*
tmp/*
TAGS
*~
.#*
gems/gems/*
*.sqlite
*.sqlite3
*.db
src/*
.hgignore
.hg/*
.svn/*
public/assets/*
public/stylesheets/*.css
!public/stylesheets/addins/*.css
config/app_config/local.yml
nohub.out
nohup.out
config/environments/local.rb
config/local.environment.rb
.idea/**
*.swp
