Dear <%= @name %>,

Your password on <%= @domain %> has been reset. Your account information is as follows:

Login ID: <%= @login %>
Password: <%= @password %>

You can change your password and account preferences by visiting:

http://<%= @domain %>/admin
   
Thank you for all that you do at <%= @org %>.

Sincerely,

<%= @domain %> Account Robot
