- terms = show_schedule
- terms_list = terms.keys.sort{|a,b| a.credit_date <=> b.credit_date}
%h3= title
%p
- if terms_list.empty?
  %p No enrollments.
- else
  - terms_list.each do |t|
    %table.tiny.fixed
      %thead
        %tr
          %th.name= t.name
          %th.facilitator Facilitator
          %th.periods Periods
          %th.credits Credits
          %th.status Enrollment Status
      %tbody
        = render :partial => 'show_enrollment', :collection => terms[t]
