- student = local_assigns[:student_columns]
%td.name= link_to(student.last_name_first, student_status_path(student))
%td.coordinator= student.coordinator ? student.coordinator.last_name_f : 'Unassigned'
%td.grade= student.district_grade
