table.tiny
  margin-top: 1em
  font-size: inherit
  border-collapse: collapse
  td,th
    border: 1px solid #eeeeee
    padding: 1px 4px
  thead
    tr
      background-color: #FFFFCC
      color: #333333
    th
      padding: .5em 4px 4px 4px
      vertical-align: bottom
      text-align: left
  tbody
    td
      vertical-align: top
  td,th
    &.status
      text-align: center
    &.grade
      padding-right: 4px
      text-align: right
.alt0 
  background-color: $bg_alt1
.alt1 
  background-color: $bg_alt0
