ul#toolbar2
  padding: 10px 0 9px 30px
  background: url(../images/tb2.gif) repeat-x
  font-size: 95%
  +border-top-radius(5px)
  li
    list-style: none
    font-weight: bold
    color: $fg_head
    display: inline
    padding: 0 1em 0 0
    margin-right: .5em
    margin-left: .5em
    border-right-width: 1px
    border-right-style: dotted
    border-right-color: $fg_rule
    a,a:visited,a:hover
      font-weight: normal
      text-decoration: none
      color: $fg_rule
    a:hover
      color: $fg_head
      text-decoration: underline


a.btn
  
  &.small
  