#flash
  position: absolute
  margin-left: -26px
  margin-top: -4px
  padding: 8px 10px 10px 28px
  +border-radius(6px)
  color: $fg_head
  line-height: 15px
  background: #ffffcc url(/images/grayex.png) no-repeat 2px 5px
  cursor: pointer


ul#toolbar2
  padding: 10px 0 6px 30px
  @include background(linear-gradient(#fef5c3, #fff))
  font-size: 95%
  +border-top-radius(5px)
  li
    list-style: none
    font-weight: bold
    color: $fg_head
    display: inline
    padding: 0 1em 0 0
    margin-right: .5em
    margin-left: .5em
    border-right-width: 1px
    border-right-style: dotted
    border-right-color: $fg_rule
    a,a:visited,a:hover
      font-weight: normal
      text-decoration: none
      color: $fg_rule
    a:hover
      color: $fg_head
      text-decoration: underline

=button
  background-color: $bg_accent
  +border_radius(4px)
  color: white
  text-decoration: none
  padding: 4px 8px
  margin: 0 6px
  border: none
  // this idiocy is so IE applies "hasLayout"
  zoom: 1
  cursor: pointer
  &:hover
    color: $bg_alt_light
    text-decoration: underline
  &.smaller
    padding: 3px 6px

// Rounded submit buttons and links

.btn
  +button

.icon
  display: inline-block
  height: 18px
  width: 18px
  text-indent: -999999px
  overflow: hidden
  &.edit
    background: url(/images/pencil.png)

.editable_head
  form, input[type="text"]
    color: inherit
    font-size: inherit
