- note = note_item
- title = note_title(note)
- klass = 'note'
- klass << ' editable' if editable
%li{:class=>klass,:id=>note_container(note)}
  .header
    - if editable && ((note.author.nil? && @user.staff?) || (note.creator_id == @user.id))
      = link_to title, edit_note_path(note), :class=>'edit'
    - else
      %span= title
    - if (editable && (@user.admin? || note.author==@user))
      = link_to "X", destroy_note_path(note), :class=>'delete'
  = note.note