- assignments = report_assignments
%table.tiny.padded.fixed.page_break{:class=>local_assigns[:one_page] ? 'smaller' : nil}
  %thead
    %tr
      %th.student
        Student
      - assignments.each do |assignment|
        %th.assign= assignment_header_image(assignment, true)
  %tbody
    - @enrollments.each do |enrollment|
      - turnins = @turnins[enrollment.id]||[]
      - turnins = turnins.collect{|t|[t.assignment_id, t]}.inject({}) { |m, e| m[e[0]] = e[1]; m }
      %tr{:id=>enrollment.id}
        %td.student=enrollment.participant.full_name
        - assignments.each do |a|
          - t = turnins[a.id] || @turnin_missing
          = "<td class='assign'>#{t.scode}</td>"
