%ul#toolbar
  - @tabs.each do |t|
    - if t==@tab1
      %li.sel><
        .r><= tab_title(t)
    - else
      %li><
        .r><
          %a{:href=>tab_url(t), :title => tab_title(t)}= tab_title(t)
- unless @tabtitle.blank?
  #tab_title= truncate(@tabtitle)
%ul#toolbar2
  - @subtabs.each do |t|
    - if t==@tab2
      %li.sel= tab_title(t)
    - else
      %li
        %a{:href=>tab_url(t), :title => tab_title(t)}= tab_title(t)
