= form.text_area :description
= form.check_box :required, :label => 'Required and automatically added', :ua => 'A required goal is automatically made part of any plan that is added or edited.'
= form.check_box :active, :label => 'Active and available to add to new or updated learning plans.', :ua => 'If the goal is active, it is available for addition to new or updated plans. It will remain on existing plans until those plans are updated.'
