%h1 Add a Learning Plan Goal

- tiny_form_for :learning_plan_goal, @learning_plan_goal, :url => create_learning_plan_goal_path, :html => {:class=>'tiny shaded'} do |form|
  %p
    = submit_button 'Add'
    = url_button 'Cancel', learning_plan_goals_path
  = render :partial => 'form', :object => form