%h1 Add EALR
= tiny_form_for @ealr, :url => create_ealr_path, :html => {:class=>'tiny shaded'} do |form|
  %p
    = submit_button 'Add'
    = url_button 'Cancel', ealrs_path
  = render :partial => 'form', :object => form
