%h1 
  = @student.full_name
  Placeholder Credits
%p
  = url_button "Return to graduation worksheet", graduation_path(@student), :small => true
%p
  Use this screen to add credits that the student may have earned outside of Nova, or credits
  the student is planning to earn in future terms. These placeholder credits will not appear
  on transcript reports, but they will appear on the graduation worksheet for purposes of planning.
%h3 Enter placeholder credits:
= render :partial => 'credit/credits', :object => @graduation_plan, :locals => {:placeholder => true}