<%
	# this might be called with a saved or unsaved parent object.
	# the parent ID will be nil on an unsaved object.
	# we only display the editing interface if the user has
	# edit privileges on the parent object. otherwise, just the
	# view of the credits
	return if @privs[:view] == false
	closed ||= false
	expanded ||= false
	placeholder ||= false
%>
<ul class="credits">
<% if(credits.is_a?(CreditAssignment)) -%>
	<%= render :partial => 'credit/credits_item', :object => credits, :locals => {:expanded => expanded, :closed => closed, :placeholder => placeholder} %>
	<% unless credits.child_credit_assignments.empty? %>
	<li class="children">
		<ul>
			<%= render :partial => 'credit/credits_item', :collection => credits.child_credit_assignments, :locals => {:expanded => expanded, :closed => true, :placeholder => false} %>
		</ul>
	</li>
	<% end -%>
<% else -%>
<%= content_tag('li', link_to_function('Add credit', "Credit.show_add('#{credits.class}', #{credits.id}, this)"), :class=>'add') if @privs[:edit] and !closed %>
	<%= render :partial => 'credit/credits_item', :collection => credits.credit_assignments, :locals => {:expanded => expanded, :closed => closed, :placeholder => placeholder} %>
<% end -%>
</ul>

