<%= content_tag "h1", "Attendance for #{@meeting.meeting_date.strftime('%A')}, #{@meeting.meeting_date.strftime('%d %B %Y')}" %>
<p>
	<div class="right" style="line-height: 30px"><%= link_to "<span>Delete this roll</span>", {:controller => 'attendance', :action=>'delete_roll', :id=>@meeting}, :class=>'btn', :confirm => 'Are you sure you want to delete this attendance roll and all the records along with it?' %></div>
	<%= link_to "Return to summary", attendance_path(:id => @contract, :meeting_id => @meeting.id) %>
</p>
<div id="worksheet">
<%= render :partial => 'attendance/worksheet' %>
</div>