- unless @absences.empty?
  %h2 Absences
  %table.tiny.fixed
    %thead
      %tr
        %th.date Absences
        %th.status Status
        %th.notes Note
    %tbody
      - @absences.each do |a|
        %tr{:class=>cycle_stripes}
          %td.date= d(a.meeting.meeting_date)
          %td.status= MeetingParticipant::PARTICIPATION_NAMES[a.participation]
          %td.notes= notes_for(a, :editable => false, :notes_hash => @absence_notes)
