%table.tiny{:width=>"100%"}
  %thead
    %tr
      %th.status_month Month
      %th.academic Academic
      %th.fte FTE
      %th.status Status checkin?
      %th.note Notes
  %tbody  
    = render :partial => 'status/coor_report_item', :collection => @months
