%h1 COOR Status
%p
  Found
  = @coordinators.length
  coordinators.
%table.tiny.index.padded
  %thead
    %tr
      %th.coordinator Coordinator
      - @months.each do |m|
        %th.month= m.strftime('%b')
  %tbody
    - @coordinators.each do |c|
      %tr{:class=>cycle_stripes}
        %td= link_to_detail_action(truncate(c.last_name_first), 'coor_detail', @coordinators, c)
        - @months.each do |m|
          - klass = 'month'
          - if @report[c.id][m] && m > Date.new(Date.today.year, Date.today.month)
            - entry = '&ndash;';
          - elsif @report[c.id][m]
            - klass << ' missing'
            - entry = '?'
          - else
            - entry = 'C'
          %td{:class=>klass}= entry
