%h1 Admin Reports
%h2 ALE Report
%p View student roster with monthly enrollment status and hours.
%ul.left-floated
  %li CSV
  %li Preview
.clear
%h2 Earned Credits Report
%p View student roster with earned credits by term.
%ul.left-floated
  %li CSV
  %li Preview
.clear