<p>Your login ID and new password have been emailed to you. Please change your password after logging in.</p>

<%= content_tag 'p', link_to("Return to login", :controller => 'school', :action => 'login'), :style => 'margin-top: 1em'  %>
