%h1 View/Change My Settings
- tiny_form_for :account, @account, :url => update_my_account_path, :html=> {:class=>'tiny'} do |form|
  .right= submit_button('Update')
  = render :partial => 'admin/accounts/form', :object => form
