%p
  Please type the email address recorded with your account. Your login name and a new
  password will be sent to your email. If you can't recall your email address, please
  contact the office and they can reset your password for you.

- tiny_form_for :user, @user, :url => reset_login_path, :html => {:class=>'tiny'} do |form|
  = form.text_field :email
  %p= submit_button 'Submit'

%p= link_to "Return to login", login_path
