%h1 Enrollments
%table.tiny.fixed
  %thead
    %tr
      %th.term Term
      %th.status Status
      %th.count Enrollments (total / finalized / remaining)
      %th.link Finalize
  %tbody
    - @terms.each do |t|
      %tr
        %td.term=link_to t.name, finalize_enrollments_show_path(t)
        %td.status=t.active ? 'Active' : 'Inactive'
        %td.count
          = number_with_delimiter(t[:count])
          \/
          = number_with_delimiter(t[:finalized_count])
          \/
          = number_with_delimiter(t[:open_count])
        %td.link
          - if t[:open_count] == "0"
            \-
          - else
            = link_to 'Finalize', finalize_enrollments_edit_path(t)


