%h1 Admin Reports
%h2 ALE Report
%p View student roster with monthly enrollment status and hours.
%ul
  %li School year (current = default)
  %li For active students (active = default)
  %li For class (any = default)
  %li For coordinator (all = default)
%ul.horizontal-nav
  %li CSV
  %li Preview
.clear
%h2 Earned Credits Report
%p View student roster with earned credits by term.
%ul
  %li School year (any = default)
  %li For active students (default)
  %li For class (all = default)
  %li For coordinator (all = default)
%ul.horizontal-nav
  %li CSV
  %li Preview
.clear