= form.text_field :course_name, :label => 'Course or category name'
= form.select :course_type, [Credit::TYPE_NONE, Credit::TYPE_GENERAL, Credit::TYPE_COURSE].collect{|t| [Credit::TYPE_NAMES[t], t]}
= form.text_field :course_id, :label => 'District course ID'