%h1 Add a Credit Type

= tiny_form_for @credit, :url => create_credit_path, :html => {:class=>'tiny shaded'} do |form|
  %p
    = submit_button 'Add'
    = url_button 'Cancel', credits_path
  = render :partial => 'form', :object => form
